@import '~antd/dist/antd.css';

*{
    font-family: 'Roboto', sans-serif;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.display-flex{
    display: flex;
}
.display-none{
    display:none;
}
.mb-2{
    margin-bottom: 10px;
}

.main-container {
    background: #5B5B5B;
}

.page-content {
    position: fixed;
    left: 200px;
    background-color: #5B5B5B;
    width: 87%;
    height: 100vh;
}
.select-sport{
    width: 200px; 
}
.cursor-pointer{
    cursor:pointer; 
}

.left-nav {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.left-nav-title-container {
    background: #f1a512;
    border-color: #f1a512;
}

.left-nav-title-container {
    height: 40px;
    margin-top: 5px;
}
.left-nav-title-text-header{
    text-align: center;
    line-height: 40px;
    color: white; 
    cursor: pointer; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.left-nav-title-text {
    text-align: center;
    line-height: 40px;
    color: white; 
    margin-top:20px;
    font-size: 20px;
}
.title-booking-modal{
    color: #f1a512; 
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 10px;
}


