@import '~antd/dist/antd.css';

.flex-between{
    display: flex;
    justify-content: space-between;
}

.main-container {
    margin: 1em;
    background: #fafafa;
}

.page-content {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
    position: relative;
}