.ant-btn-primary{
    background-color: #f1a512;
    border-color: #f1a512;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: rgba(241, 165, 18, 0.8);
    border-color: rgba(241, 165, 18, 0.8);
}
.ant-layout-sider{
    background: #f1a512;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #f1a512;
}
.ant-page-header-ghost{
    background-color: white;
    margin-bottom : 20px;
}